@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
  font-family: 'Press Start 2P', cursive;
  
}
h1{
  border: 3px solid;
  width: 320px;
  padding: 10px;
  text-align: center;
  margin: 25vh auto;
  box-shadow: 5px 5px black;
}
.main_container{
  max-width: 610px;
  height: 495px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background: url(resources/Menu.png);
  background-size: 100%;
}
#input{
  border: transparent;
  text-align: center;
  font-size: 2em;
  width: 60px;
  font-family: 'Press Start 2P', cursive;
  padding: 8px;
  background-color: tomato;
}
.boton{
  font-family: 'Press Start 2P', cursive;
}
.inputs{
  text-align: center;
}
.task{
  text-align: center;
  margin-top: 40px;
}
